div .panel .panel-primary:hover {
    background-color: #3cd155;
    border-color: #3cd155;
    color: white;
    cursor: pointer;
}

div .timer {
    position: relative;
    text-align: right;
}

.quiz {
    text-align: center;
    border: 1px solid;
    margin: 15px 0;
    padding: 10px 0;
    min-height: 385px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quiz_with_question:hover {
    cursor: pointer;
    border: 2px solid;
    margin: 14px 0;
}

.admin_theme {
    position: relative;
    text-align: center;
    border: 1px solid;
    margin: 15px 0;
    min-height: 340px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.svg-icon {
    position: absolute;
    top: 5px;
    cursor: pointer;
}

.svg-edit {
    right: 40px;
}

.svg-delete {
    right: 5px;
}

.svg-remove-image {
    right: 75px;
}

.svg-icon-quiz {
    position: absolute;
    top: 22px;
}

.svg-photo {
    right: 110px;
}

.svg-sound {
    right: 145px;
}

.svg-video {
    right: 180px;
}

.svg-edit-quiz {
    right: 40px;
    cursor: pointer;
}

.svg-eye {
    right: 5px;
    cursor: pointer;
}

.confirm-delete-button, .confirm-delete-button:hover {
    color: white;
    background-color: red;
    border-color: red;
}

.image_theme {
    width: 100%;
    height: 100%;
}